@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@layer components {
  /*
  Navbar
  */
  .navbar {
    @apply flex w-full h-20 z-10 text-white justify-between items-center fixed;
    transition: 0.2s ease-in;
  }

  .navbar .navbarLeftSide {
    @apply flex flex-5;
  }
  .navbar .navbarLeftSide h2 {
    @apply pl-5 text-2xl;
  }
  .navbar .navbarRightSide {
    @apply flex flex-2;
  }
  .navbar .navbarRightSide .navigation {
    @apply lg:flex justify-around w-full hidden;
  }

  .navigationItem {
    transition: 0.1s ease-in;
  }

  .navbar .navbarRightSide .navigation a {
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
  }

  #aboutMeLink {
    color: #07ff39;
  }

  .hamburgerButton {
    @apply lg:hidden flex sticky top-0 right-1 z-50 text-white h-20 w-full justify-end items-center;
  }

  .hamburgerButton button {
    @apply lg:hidden text-2xl pr-5;
  }

  .responsiveNavigationBar {
    @apply h-[100vh] w-[100vw] z-20 fixed flex items-start;
    backdrop-filter: blur(8px);
    background-color: #00000080;
  }

  .responsiveNavigationBar .navigationMenuResponsive {
    @apply h-full w-full flex justify-center items-center flex-col gap-10 text-white text-2xl uppercase;
  }

  .hiddenNav {
    display: none;
  }

  /*
  Section 1
  */

  .section {
    @apply min-h-[100vh] w-full lg:pt-25 pb-25;
  }

  .firstSection {
    @apply flex items-center flex-col-reverse lg:flex-row justify-around text-white;
  }

  .firstSection .aboutMeText {
    @apply lg:w-1/2 flex flex-col lg:gap-5 gap-10 w-full lg:justify-start justify-center lg:items-start items-center;
  }

  .firstSection .aboutMeText h1 {
    @apply lg:text-7xl text-3xl md:text-5xl font-bold lg:text-left text-center lg:mt-0 mt-10;
  }

  .firstSection .aboutMeText span {
    @apply lg:text-4xl text-2xl md:text-3xl text-[#1b7506];
  }

  .firstSection .logoContainer .logoImage {
    @apply rounded-full lg:h-[460px] h-[180px] md:h-[350px];
    box-shadow: -1px 1px 110px 15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 110px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 110px 15px rgba(0, 0, 0, 0.75);
  }

  .firstSection .aboutMeText p {
    @apply font-light lg:text-left text-center lg:w-auto w-3/4;
  }
  .firstSection .aboutMeText .text {
    @apply w-[100vw] lg:text-left text-center;
  }

  /*
  Section 2
  */

  .secondSection {
    @apply h-[100vh] w-full;
  }
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
  min-height: -webkit-fill-available;
}

body {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 1) 60%,
    hsla(126, 84%, 17%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 1) 60%,
    hsla(126, 84%, 17%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 1) 60%,
    hsla(126, 84%, 17%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#000000", GradientType=1 );

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

.scrolled {
  backdrop-filter: blur(8px);
  background-color: #00000080;
}

.non-scrolled {
  background: transparent;
}

.bg{
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 1) 60%,
    hsla(126, 84%, 17%, 1) 100%
  );

   background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* z-index usage is up to you.. although there is no need of using it because the default stack context will work. */
  z-index: -1;

}

.content{
    position: absolute;
  width: 100%;
}