@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@layer components {
  /*
  Navbar
  */
  .navbar {
    @apply flex w-full h-20 z-10 text-white justify-between items-center fixed;
    transition: 0.2s ease-in;
  }

  .navbar .navbarLeftSide {
    @apply flex flex-5;
  }
  .navbar .navbarLeftSide h2 {
    @apply pl-5 text-2xl;
  }
  .navbar .navbarRightSide {
    @apply flex flex-2;
  }
  .navbar .navbarRightSide .navigation {
    @apply lg:flex justify-around w-full hidden;
  }

  .navigationItem {
    transition: 0.1s ease-in;
  }

  .navbar .navbarRightSide .navigation a {
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
  }

  .hamburgerButton {
    @apply lg:hidden flex sticky top-0 right-1 z-50 text-white h-20 w-full justify-end items-center;
  }

  .hamburgerButton button {
    @apply lg:hidden text-2xl pr-5;
  }

  .responsiveNavigationBar {
    @apply h-[100vh] w-[100vw] z-20 fixed flex items-start;
    backdrop-filter: blur(8px);
    background-color: #00000080;
  }

  .responsiveNavigationBar .navigationMenuResponsive {
    @apply h-full w-full flex justify-center items-center flex-col gap-10 text-white text-2xl uppercase;
  }

  .hiddenNav {
    display: none;
  }

  .scrolled {
    backdrop-filter: blur(8px);
    background-color: #00000080;
  }

  .non-scrolled {
    background: transparent;
  }

  /*
  Section 1
  */

  .section {
    @apply min-h-[100vh] w-full lg:pt-25 pb-25;
  }

  .firstSection {
    @apply flex items-center flex-col-reverse lg:flex-row justify-around text-white;
  }

  .firstSection .aboutMeText {
    @apply lg:w-1/2 flex flex-col lg:gap-5 gap-10 w-full lg:justify-start justify-center lg:items-start items-center;
  }

  .firstSection .aboutMeText h1 {
    @apply lg:text-7xl text-3xl md:text-5xl font-bold lg:text-left text-center lg:mt-0 mt-10;
  }

  .firstSection .aboutMeText span {
    @apply lg:text-4xl text-2xl md:text-3xl text-[#08a508];
  }

  .firstSection .logoContainer .logoImage {
    @apply rounded-full lg:h-[460px] h-[180px] md:h-[350px];
    box-shadow: -1px 1px 110px 15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 110px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 110px 15px rgba(0, 0, 0, 0.75);
  }

  .firstSection .aboutMeText p {
    @apply font-light lg:text-left text-center lg:w-auto w-3/4;
  }
  .firstSection .aboutMeText .text {
    @apply w-[100vw] lg:text-left text-center;
  }

  /*
  Section 2
  */

  .secondSection {
    @apply flex justify-around items-center text-white;
  }

  .secondSection .textContainer {
    @apply flex w-1/2 items-center flex-col gap-10;
  }

  .secondSection .textContainer h1 {
    @apply lg:text-7xl text-3xl md:text-5xl font-bold text-center lg:mt-0 mt-10;
  }

  .secondSection .skillsContainer {
    @apply flex w-1/7 flex-col gap-10;
  }

  .secondSection .skillsContainer .skill {
    @apply w-full;
  }

  .secondSection .skillsContainer .skill img {
    @apply h-20 w-20;
    cursor: pointer;
  }

  .secondSection .skillsContainer .skill .skillImage {
    transition: 0.2s ease-in;
  }

  .secondSection .skillsContainer .skill .skillImage:hover {
    transform: scale(1.1);
  }

  .secondSection .skillsContainer .skill:nth-child(odd) {
    @apply flex lg:justify-start justify-center;
  }

  .secondSection .skillsContainer .skill:nth-child(even) {
    @apply flex lg:justify-end justify-center;
  }

  /*
  Section 3
  */

  .thirdSection {
    @apply flex flex-col min-h-screen;
  }
  .thirdSection .textContainerProjects {
    @apply flex w-full items-center justify-center flex-1 text-white;
  }
  .thirdSection .textContainerProjects h1 {
    @apply lg:text-7xl text-3xl md:text-5xl font-bold text-center;
  }

  .thirdSection .projectsContainer {
    @apply flex flex-5 flex-col p-5 gap-10;
  }

  .thirdSection .projectsContainer .row {
    @apply flex justify-around lg:flex-row flex-col lg:gap-20 gap-0 items-center flex-1;
  }

  .thirdSection .projectsContainer .row .project {
    @apply w-full m-2 bg-gray-700 rounded-2xl relative overflow-hidden;
    aspect-ratio: 16 / 9;
    cursor: pointer;
  }
  .thirdSection .projectsContainer .row .project .projectInfo {
    @apply w-full h-full z-20 rounded-2xl absolute top-0 left-0 transition-transform duration-500 flex text-white flex-col gap-10 lg:pt-0 pt-5 pb-5 lg:gap-0 justify-around items-center text-center;
    transform: translateY(100%);
    backdrop-filter: blur(8px);
    background-color: #00000080;
  }

  .thirdSection .projectsContainer .row .project:hover .projectInfo {
    transform: translateY(0%);
    overflow: scroll;
  }

  .thirdSection .projectsContainer .row .project img {
    @apply w-full rounded-2xl;
    aspect-ratio: 16/9;
  }

  .thirdSection .projectsContainer .row .project .projectInfo h1 {
    @apply lg:text-5xl text-2xl md:text-3xl font-bold;
  }
  .thirdSection .projectsContainer .row .project .projectInfo p {
    @apply w-3/4 bg-transparent text-[16px];
  }
  .thirdSection .projectsContainer .row .project .projectInfo i {
    @apply lg:text-5xl text-2xl md:text-4xl font-bold;
  }

  /*
  Section 4
  */

  .fourthSection {
    @apply flex flex-col min-h-screen;
  }

  .fourthSection .textContainerSocials {
    @apply flex w-full items-center justify-center flex-1 text-white;
  }
  .fourthSection .textContainerSocials h1 {
    @apply lg:text-7xl text-3xl md:text-5xl font-bold text-center;
  }

  .fourthSection .socialsLinkContainer {
    @apply flex w-full flex-5 flex-wrap lg:flex-row flex-col lg:justify-between justify-center items-center gap-20 pl-10 pr-10 mt-5 lg:pr-5 lg:pl-5;
  }

  .fourthSection .socialsLinkContainer .social {
    @apply flex lg:w-1/4 w-full min-h-40 rounded-2xl gap-5 items-center p-5 text-white overflow-hidden;
    background: linear-gradient(
      312deg,
      rgba(27, 27, 27, 1),
      rgba(0, 49, 83, 1)
    );
    -webkit-background: linear-gradient(
      312deg,
      rgba(27, 27, 27, 1),
      rgba(0, 49, 83, 1)
    );
    -moz-background: linear-gradient(
      312deg,
      rgba(27, 27, 27, 1),
      rgba(0, 49, 83, 1)
    );
    transition: 0.2s ease-in;
    cursor: pointer;
  }

  .fourthSection .socialsLinkContainer .social img {
    @apply w-14 h-14;
  }

  .fourthSection .socialsLinkContainer .social:hover {
    transform: scale(1.05);
  }

  .fourthSection .socialsLinkContainer .social .socialText {
    @apply flex flex-col text-left w-5/6;
  }
  .fourthSection .socialsLinkContainer .social h2 {
    @apply text-[18px];
  }
  .fourthSection .socialsLinkContainer .social p {
    @apply text-[16px];
  }
  .fourthSection .socialsLinkContainer .social a {
    @apply text-[16px] mt-2;
  }

  /*
Footer
*/

  .footer {
    @apply flex w-full items-center justify-center p-5 text-white;
    backdrop-filter: blur(8px);
    background-color: #00000080;
  }
  .footer p{
    @apply text-center;
  }
}
/*
Root Ayarlar
*/

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
  min-height: -webkit-fill-available;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

.bg {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 1) 60%,
    hsla(126, 84%, 17%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 1) 60%,
    hsla(126, 84%, 17%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 1) 60%,
    hsla(126, 84%, 17%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#000000", GradientType=1 );

  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.content {
  position: absolute;
  width: 100%;
}

/*
ANİMASYONLAR
*/

@keyframes downOval {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(8px, 8px);
  }
  50% {
    transform: translate(0, 15px);
  }
  75% {
    transform: translate(-8px, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes upOval {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(8px, -8px);
  }
  50% {
    transform: translate(0, -15px);
  }
  75% {
    transform: translate(-8px, -8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rightOval {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, -8px);
  }
  50% {
    transform: translate(25px, 0);
  }
  75% {
    transform: translate(15px, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes leftOval {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-15px, -8px);
  }
  50% {
    transform: translate(-25px, 0);
  }
  75% {
    transform: translate(-15px, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes downRightOval {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(12px, 12px);
  }
  50% {
    transform: translate(20px, 20px);
  }
  75% {
    transform: translate(12px, 12px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes downLeftOval {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-12px, 12px);
  }
  50% {
    transform: translate(-20px, 20px);
  }
  75% {
    transform: translate(-12px, 12px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes smallCircle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(0, -20px);
  }
  75% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bigCircle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(0, -35px);
  }
  75% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.floating1 {
  animation: downOval 5s ease-in-out infinite;
}

@media (min-width: 1024px) {
  #skill1 {
    animation: downOval 5s ease-in-out infinite;
  }

  #skill2 {
    animation: upOval 5s ease-in-out infinite;
  }

  #skill3 {
    animation: rightOval 5s ease-in-out infinite;
  }

  #skill4 {
    animation: leftOval 5s ease-in-out infinite;
  }

  #skill5 {
    animation: downRightOval 5s ease-in-out infinite;
  }

  #skill6 {
    animation: downLeftOval 5s ease-in-out infinite;
  }

  #skill7 {
    animation: smallCircle 5s ease-in-out infinite;
  }

  #skill8 {
    animation: bigCircle 5s ease-in-out infinite;
  }
}
